<div id="test1" mx-keys="list1,before,after">
<%if(before){%>
    <div style="height:<%=before%>px"></div>
    <%}%>
<%for(var i=0;i<list1.length;i++){%>

    <div style="height:20px;line-height: 20px">
    <%=list1[i]%>
    </div>
<%}%>

    <%if(after){%>
    <div style="height:<%=after%>px"></div>
    <%}%>
</div>

<div mx-keys="a,b" class="tree <%=a%>-def" title="<%=b%>" mx-view1="a/b?s=<%=b%>">
    <%=a%>-<%=b%>
</div>

<textarea mx-keys="a,b,checked" @disabled="<%=checked%>"><%=a%>-<%=b%></textarea>
<%for(var i=0;i<10;i++){%>
<div mx-view="coms/dropdown/index?source=script&selected=<%=a%>&list={list}" mx-keys="a,b">
</div>
<%}%>
<div mx-keys="a,b,height" style="height:<%=height+20%>px;background: red">

</div>
<input mx-keys="a,b" value="<%=a%>-<%=b%>" />
<input type="checkbox" id="cb_<%=a%>" mx-keys="a" />
<label for="cb_<%=a%>" mx-keys="a">abcdefg</label>
<input type="checkbox" mx-keys="checked" @disabled="<%=checked%>" @checked="<%=checked%>" />
<input type="radio" mx-keys="checked" @checked="<%=checked%>" />
<label>
    <input type="radio" mx-keys="checked" @checked="<%=checked%>" />
    new test
</label>
<div mx-keys="checked,a,b" @checked="<%=checked%>" value="<%=a+'_'+b%>" checked2="<%=checked%>">test value</div>
<button mx-keys="a,b" mx-click="change({a:'<%=a%>',b:'<%=b%>'})" class="btn" >change a and b</button>
<div mx-keys="pMap">
    <%for(var i=0;i<permissions.length;i++){%>
        <%console.log(pMap[permissions[i]])%>
        <label><input type="checkbox" @checked="<%=pMap[permissions[i]]%>" /><%=permissions[i]%></label>
    <%}%>
</div>
<button class="btn" mx-click="changeMap()"> change pmap</button>
mail:xinglie.lkf@taobao.com
<div>@abc  @./coms/a/d</div>
<div @mx-view="<%=view%>" mx-keys="view,a">
    <%=a%>
</div>

<div @test="<%=checked%>" mx-keys="checked">xx</div>
