@import "./base";

.input,.textarea{
    display: inline-block;
    height: 32px;
    vertical-align: middle;
    font-size: @contentFontSize;
    padding: 6px 9px;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: none;
    border: 1px solid @color-border;
    background-color: #fff;
    color: @color-primary;
    width:340px;
    &::-moz-placeholder,
    &::-ms-input-placeholder,
    &::-webkit-input-placeholder {
        color: #999;
    }
}
.input:hover,.textarea:hover{
    border-color: @color-border-hover;
}
.input:focus,
.input-focus,
.textarea:focus/*,
.textarea-focus*/ {
    border-color: @color-brand;
}
.input-focus:hover{
    border-color: @color-brand;
}
.textarea{
    height: auto;
}
.form-line{
    margin: 10px 0;
}
.line-label{
    display: block;
    width: 100px;
    margin-right: 10px;
    float: left;
    text-align: right;
    font-weight: 400;
    color: @color-secondary;
    padding: 4px 0;
}
.line-required{
    color: #f00;
    font-style: normal;
    margin-right:5px;
    vertical-align:top;
}
.line-rule{
    height: 20px;
    color: @color-secondary;
    display: block;
    float: left;
    margin-top: 2px;
}
