@import "./base";

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  background-color: @color-bg;
  white-space: nowrap;
  padding: 10px 14px;
  font-size: 12px;
  line-height: 1;
  border: 0;
  color: @color-primary;
  border-radius: 4px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn:focus, {
  outline: none;
}
.btn:hover{
  background-color: @color-bg-hover;
}
.btn-brand{
    background-color: @color-brand;
    color:#fff;
}
.btn-brand:hover{
    background-color: @color-brand-hover;
    color: #fff;
}
