@import "./base";

.dialog-header {
    padding: 15px;
    border-bottom: 1px solid @color-border;
    color: @color-primary;
}

.dialog-title {
    margin: 0;
    line-height: 1.42857143;
}
.dialog-body {
    padding: 18px 40px;
}
.dialog-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid @color-border;
}
