<div class="clearfix wrapper">
    <div class="statistics">
        <span class="vbtm">
            当前第 <b><%= offsetStart %> - <%= offsetEnd %></b> 条，共 <b><%= total %></b> 条，每页展现
        </span>
        <div class="ml10 mr10" style="width:80px; top: 5px;"
            mx-view="@../mx-dropdown/index"
            view-list="<%@[10,20,30,40,50,100]%>"
            view-selected="<%@size%>" mx-change="changeSize()"
        ></div>
        <span class="vbtm">条</span>
    </div>
    <div class="pager">
        <ul>
            <li class="num<%if(page==1){%> notallowed<%}%>">
                <a href="javascript:;"<%if(page>1){%> mx-click="toPrev()"<%}%>>
                    <span class="iconfont f12">&#xe61e;</span>
                </a>
            </li>
            <%if(start>1){%>
            <li class="num">
                <a href="javascript:;" mx-click="toPage({page:1})">1</a>
            </li>
            <%}%>
            <%if(start>2){%>
            <li class="notallowed num"><a href="javascript:;">...</a></li>
            <%}%>
            <%for(var i=start;i<=end;i++){%>
            <li class="num<%if(i==page){%> active<%}%>">
                <a href="javascript:;" mx-click="toPage({page:<%=i%>})"><%=i%></a>
            </li>
            <%}%>
            <%if(end+2<=pages){%>
            <li class="num notallowed">
                <a href="javascript:;">...</a>
            </li>
            <%}%>
            <%if(end<pages){%>
            <li class="num">
                <a href="javascript:;" mx-click="toPage({page:<%=pages%>})"><%=pages%></a>
            </li>
            <%}%>
            <li class="num<%if(page==pages){%> notallowed<%}%>">
                <a href="javascript:;"<%if(page<pages){%> mx-click="toNext()"<%}%>><span class="iconfont f12">&#xe61b;</span></a>
            </li>
        </ul>
    </div>
</div>
