<div class="wrapper">
    <div id="d1_<%=viewId%>" mx-view="coms/dropdown/index" class="dropdown">
        <script type="magix/config">
            <%=JSON.stringify({list:list,width:200})%>
        </script>
    </div>
    <div id="d2_<%=viewId%>" class="dropdown" mx-view="coms/dropdown/index" mx-change="d2Change()" mx-keys="d2Id">
        <script type="magix/config">
            <%=JSON.stringify({list:list,selected:d2Id,search:true,height:100})%>
        </script>
    </div>
    <button mx-click="changeService()" class="btn btn-size25">切换数据源</button>
    <div id="d3_<%=viewId%>" class="dropdown bottom" mx-view="coms/dropdown/index">
        <script type="magix/config">
            <%=JSON.stringify({list:list})%>
        </script>
    </div>
    <div id="d4_<%=viewId%>" class="dropdown" mx-view="coms/dropdown/index">
        <script type="magix/config">
            <%=JSON.stringify({list:list,search:true})%>
        </script>
    </div>
    <div class="dropdown" mx-view="coms/dropdown/index" mx-keys="d2Id">
        <script type="magix/config">
            <%=JSON.stringify({list:list,selected:d2Id})%>
        </script>
    </div>
    <br />
    <div class="dropdown" id="p_<%=viewId%>" mx-view="coms/dropdown/index" mx-change="pChg()">
        <script type="magix/config">
            <%=JSON.stringify({list:provinces,selected:''})%>
        </script>
    </div>
    <div class="dropdown" mx-view="coms/dropdown/index" mx-keys="cities">
        <script type="magix/config">
            <%=JSON.stringify({list:cities})%>
        </script>
    </div>
</div>