<h3>Tree组件</h3>
<p>该组件目前仅展示，其它功能有待开发</p>
<h4>配置项</h4>
<table class="table table-striped w900">
    <thead>
        <tr>
            <th>参数名称</th>
            <th>参数类型</th>
            <th>参数说明</th>
            <th>默认值</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>list</td>
            <td>array</td>
            <td>列表数组，可为简单数组或[1,2,3]或对象数组，如[{id:1,text:'a'}]</td>
            <td></td>
        </tr>
        <tr>
            <td>textKey</td>
            <td>string</td>
            <td>当列表中的项为对象时，渲染text时读取的key</td>
            <td></td>
        </tr>
        <tr>
            <td>idKey</td>
            <td>string</td>
            <td>当列表中的项为对象时，做为唯一id的key</td>
            <td></td>
        </tr>
        <tr>
            <td>parentKey</td>
            <td>string</td>
            <td>关联父节点的key</td>
            <td></td>
        </tr>
    </tbody>
</table>
<h4 class="mt10">演示</h4>
<div id="tree_<%=id%>"
    mx-view="app/gallery/mx-tree/index"
    view-parent-key="pId"
    view-id-key="id"
    view-text-key="text"
    view-list="<%@list1%>">
</div>
<div id="code_<%=id%>"
    mx-view="app/gallery/mx-tree/index"
    view-list="<%@list2%>"
    view-parent-key="parentCode"
    view-text-key="keyName"
    view-id-key="keyCode">
</div>