.enable{
    background-color: green;
}
.disable{
    background-color: red;
}
.pointer{
    position:absolute;
    height:14px;
    overflow:hidden;
    line-height:14px;
    padding:1px 2px;
    border:solid 2px #ccc;
    color:#fff;
    z-index: 99999;
    display: none;
}
.bar{
    position:absolute;
    overflow:hidden;
    display:none;
    border-width:3px;
    z-index: 99998;
}
.bar div{
    overflow:hidden;
    background-color:#000;
}
.hbar{
    border-color:transparent #000;
    border-style:dashed solid;
}
.hbar div{
    height:2px;
}
.vbar{
    border-color:#000 transparent;
    border-style:solid dashed;
}
.vbar div{
    width:2px;
    height:100%
}