.as-input{
    height: 32px;
    cursor: default;
}
.tracker{
    width:340px;
    height:2px;
    background:#c7c7c7;
    position: relative;
    display: inline-block;
    border-radius: 3px;
}
.indicator{
    border-radius:6px;
    width:12px;
    height:12px;
    position: absolute;
    top:-5px;
    background: #f4f4f4;
    border: solid 1px #878787;
}
.active{
    background: #ddd;
}