.indent{
    padding-left:15px;
}
.li{
    line-height:22px;
    padding:0 4px;
    position: relative;
    border-left:solid 1px #eee;
}
.li:before{
    content :'';
    position: absolute;
    border-top:solid 1px #eee;
    width:12px;
    left: 0;
    top: 10px;
}
.icon{
    width:22px;
    height:22px;
    float:left;
    text-align: center;
    line-height: 22px;
    font-weight:800;
    margin-left:-15px;
    margin-top:-2px;
    position: relative;
    z-index: 2;
}
.ricon{
    display: inline-block;
    background-color: #fff;
    width: 10px;
    height: 10px;
    line-height: 5px;
    border: solid 1px #eee;
    font-size: 11px;
}
.name{
    margin-left: 10px;
}
.p0{
    padding:0;
}
.li-last{
    border-left:none;
}
.li-last:after{
    content:'';
    border-left: solid 1px #eee;
    position: absolute;
    left: 0px;
    top: -2px;
    width: 1px;
    height: 13px;
}
.top-li-first:after{
    position: absolute;
    content: '';
    height: 13px;
    width: 1px;
    border-left: solid 1px #fff;
    top: -3px;
    left: -1px;
}