
<div class="header-top" id="header_<%=viewId%>">
    <a href="#!/index" class="header-brand">
        <span class="brand-logo iconfont">&#xe67b;</span>
        <span class="brand-text">Magix</span>
    </a>
    <span class="header-trigger iconfont" mx-click="triggerNav()"></span>

    <div class="header-top-main">
        <div class="header-top-content">
            <!-- 面包屑 -->
            <div class="crumb">
                <%if(bcs){%>
                <span class="iconfont crumb-icon">&#xe601;</span>
                <span class="crumb-content"><%=bcs%></span>
                <%}%>
            </div>

            <!-- 右侧信息菜单 -->
            <ul class="menu">
                <li class="menu-item">
                    <span class="menu-icon iconfont ">&#xe621;</span>
                    <a href="javascript:;" class="menu-link"><%=userName%></a>
                    <div class="submenu-container">
                        <ul class="submenu">
                            <li>
                                <a href="javascript:;" mx-click="changePassword()" class="submenu-link">修改密码</a>
                            </li>
                            <li>
                                <a href="javascript:;" mx-click="logout()" class="submenu-link">退出</a>
                            </li>
                            <li class="submenu-divider"></li>
                            <li>
                                <a href="javascript:;" mx-click="showAgreement()" class="submenu-link">查看使用协议</a>
                            </li>
                        </ul >
                    </div>
                </li>
            </ul>
            <!--搜索-->
            <div mx-view="@./header-search"></div>
        </div>
    </div>
</div>