<div class="dialog-header">
    <h4 class="dialog-title">
        修改密码
    </h4>
</div>
<div class="dialog-body">
    <form mx-view="app/gallery/mx-validation/index" id="form_<%=viewId%>">
        <div class="form-line clearfix">
            <label class="line-label">
                <i class="line-required">*</i> 原始密码：
            </label>
            <div class="fl">
                <input class="input" type="password" validator-required="true" value="<%:originalPasswd%>" /> &nbsp;
            </div>
        </div>
        <div class="form-line clearfix">
            <label class="line-label">
                <i class="line-required">*</i> 用户密码：
            </label>
            <div class="fl">
                <input class="input" type="password" id="passwd" validator-required="true" value="<%:passwd%>" validator-length="[8,16]" validator-length-message="密码8-16个字符" /> &nbsp;
            </div>
            <span class="line-rule">8-16个字符，英文字母区分大小写，不能是汉字。</span>
        </div>
        <div class="form-line clearfix">
            <label class="line-label">
                <i class="line-required">*</i> 重复密码：
            </label>
            <div class="fl">
                <input class="input" type="password" validator-equalto="#passwd" validator-required="true" value="<%:repasswd%>" maxlength="16" validator-equalto-message="与用户密码一致" />
            </div>
        </div>
    </form>
</div>
<div class="dialog-footer">
    <a mx-click="enter()" class="btn btn-brand mr10">确定</a>
    <a mx-click="cancel()" class="btn">取消</a>
</div>