<h3>Large-img Mixin</h3>
<p>
    该mixin只要view启用即可，不需要修改view中的任何方法即可完成相应的效果
</p>
<p>
    主要解决出现在详情内容中的图片或视频有时候会被缩小，使用该插件可以放大显示。
</p>
<p>
    <video src="http://cloud.video.taobao.com/play/u/2653723409/p/1/e/6/t/1/53788368.mp4" width="200" height="150" controls></video>
    <img src="<%=optimalImg('https://gw.alicdn.com/tfs/TB1bUNCQpXXXXacaXXXXXXXXXXX-865-407.png',80)%>" width="200" height="150" />
    <img src="<%=optimalImg('http://img.alicdn.com/tps/TB16kGGHFXXXXazXVXXXXXXXXXX_!!0-item_pic.jpg',60)%>" width="200" height="150" />
</p>