@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1467789891_911365.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1467789891_911365.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1467789891_911365.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1467789891_911365.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1467789891_911365.svg#iconfont') format('svg'); /* iOS 4.1- */
}


.iconfont {
    font-family: "iconfont";
    line-height: 1;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    display: inline-block;
    speak: none;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.iconfont:before {
    display: inline-block;
}
